.footer {
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    background-color: var(--footer-base-bg-color);
    color: var(--footer-base-text-color);
    box-shadow: 0px 0px 10px 0px rgba(128,128,128,1);
}